<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:p="http://www.springframework.org/schema/p"
     xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd"
         default-autowire="byName">
         <context:annotation-config/>
          <context:component-scan base-package="com.btgxlm.core.*"/>
  <bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" >
	<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
	<property name="url" value="jdbc:mysql://localhost:3306/tudu"/>
	<property name="username" value="root"/>
	<property name="password" value="199095"/>
	</bean>
	<bean id="mySessionFactory"
            class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
            <property name="dataSource" ref="myDataSource"></property>
            <property name="packagesToScan">
 			  <list>
    		    <value>com.btgxlm.core.model</value>
   			 </list>
</property>
    </bean>
    <bean id="daotest" class="com.btgxlm.core.util.DaoSessionFactory">
    	<property name="sessionFactory" ref="mySessionFactory"></property>
    </bean>
</beans>